
@font-face {
    font-family: logo;
    src: url(./font/Futura\ Extra\ Black\ font.ttf);
}

@font-face{
    font-family: body;
    src: url(./font/Isl/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf);
}

span{
    font-family: logo !important;
}


body{
    background-color: #000000 !important;
}

.salt{
    padding-top: 150px !important;
}

.text-danger{
    font-family: body;
    letter-spacing: 4px;
}

.r1{
    border: 1px  !important;
    padding: 5px !important;
    background-color:#fff !important;
    color: red !important;
    border-radius: 50%;
}

.r2{
    order: 1px white !important;
    padding: 5px !important;
    background-color: #fff !important;
    color: #000000;
    border-radius: 50%;
}

.dir{
    width: 150px !important;
    height: 50px !important;
    font-size: small;
}

.card-content{
    margin-top: 200px !important;
}

.r3{
    order: 1px white !important;
    padding: 5px !important;
    background-color: #fff !important;
    color: #28A745;
    border-radius: 50%;
}

.btn-green{
    background-color: #28A745 !important;
    color: #fff;
    padding: 15px !important;
}

.franchise{
    margin-top: 100px !important;
}
.given-border{
    width: 60px;
    height: 60px;
    text-align: center;
    align-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #EDE9E9 !important;
}


.franchise-card{
    margin-top: 50px;
    
}

.card-gap{
    gap: 30px;
}


.r4{
    color: #D02F2D;
    font-size: 30px;
    text-shadow: 1px 0px 3px;
}

.card-1{
    width: 400px;
    background-color: white;
    align-content: center;
    padding: 20px;
    border-radius: 05px;

}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-container {
    overflow: hidden; 
    white-space: nowrap; 
    display: flex;
    scroll-behavior: smooth;
    position: relative;
    width: 100%; 
  }
  .swiper-container img {
    width: 300px;
    height: auto;
    margin-right: 10px; 
    display: inline-block; 
  }

  .swiper-container::-webkit-scrollbar {
    height: 8px; 
  }

  .swiper-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
  }

  .swiper-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.footer{
    background-color: #0F0F0F !important;
  }

.small-text{
    font-size: 13px;
}

a{
    text-decoration: none;
    color: white;
}

.circle{
    border: 1px  !important;
    background-color:#fff !important;
    background-color: red !important;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    align-content: center;
}

.d-flex{
    gap: 10px;
    align-items: center;
    align-content: center;
}


.d-flex p{
    text-align: center;
    align-content: center;
}
